{# base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {{ app_name }} {% endblock %}</title>

        {% block stylsheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}

    </head>
    <body>
        <div id="navbar">
            {% include 'partials/navigation.html.twig' %}
        </div>

        <div class="container">
            {% include 'partials/flash.html.twig' %}
            {% block body %}{% endblock %}
        </div>

        <div id="footer">
            {% include 'partials/footer.html.twig' %}
        </div>
    </body>

    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}

</html>