{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    <div class="row">
        <div class="col-md-12 center-block">
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('index') }}">return to the homepage</a>.
            <p>Redirection in 5 seconds...</p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var indexUrl = '{{ url('index') }}'
        window.setTimeout(()  => {
           location.assign(indexUrl)
        }, 5000)
    </script>
{% endblock %}
