{# index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %} Profile | {{ app.user.username }} {% endblock %}

{% block body %}
    <h1>Profile</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo fugiat nam aut blanditiis, error accusantium maxime tenetur voluptates ea temporibus.</p>
{% endblock %}